<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amaas.Core" version="1.0.9" targetFramework="net461" />
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.14" targetFramework="net461" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.6" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.17.5" targetFramework="net461" />
  <package id="AWSSDK.Extensions.CognitoAuthentication" version="0.9.1" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.3.3" targetFramework="net461" />
  <package id="Excel-DNA" version="0.34.6" targetFramework="net452" />
  <package id="ExcelDna.AddIn" version="0.34.6" targetFramework="net452" />
  <package id="ExcelDna.Integration" version="0.34.6" targetFramework="net452" />
  <package id="ExcelDna.IntelliSense" version="1.0.3" targetFramework="net452" />
  <package id="Excel-DNA.Lib" version="0.34.6" targetFramework="net452" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>