<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amaas.Core" version="1.1.6" targetFramework="net462" />
  <package id="Amaas.Core.AssetManagers" version="1.1.2" targetFramework="net462" />
  <package id="Amaas.Core.Assets" version="1.1.2" targetFramework="net462" />
  <package id="Amaas.Core.Transactions" version="1.1.2" targetFramework="net462" />
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.14" targetFramework="net461" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.6" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.17.6" targetFramework="net462" />
  <package id="AWSSDK.Extensions.CognitoAuthentication" version="0.9.1" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.3.3" targetFramework="net461" />
  <package id="ExcelDna.AddIn" version="0.34.6" targetFramework="net452" />
  <package id="ExcelDna.Integration" version="0.34.6" targetFramework="net452" />
  <package id="ExcelDna.IntelliSense" version="1.0.3" targetFramework="net452" />
  <package id="Excel-DNA.Lib" version="0.34.6" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net462" />
  <package id="ini-parser" version="2.5.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.0-preview1-408290725" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.0-preview1-408290725" targetFramework="net462" />
  <package id="NetOffice.Core.Net45" version="1.7.4-pre-jun-28-2015" targetFramework="net462" />
  <package id="NetOffice.Excel.Net45" version="1.7.4-pre-jun-28-2015" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.0-preview1-408290725" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>